# Simulation
jax==0.4.23
jaxlib==0.4.23
jax-md==0.2.8

# Interface
panel==1.3.8
param==2.0.2
matplotlib==3.8.2

# Client-server communication
grpcio==1.60.0

# Tests and code formatting
pytest==8.0.0
black